<div class="row">
	<div class="col-sm-9">
		<h2>Browse All Bastides</h2>
	</div>
	<%= render '/pages/about_menu' %>
</div>
<div class="row">
	<div class="bastide">
		<a href="/labastide-darmagnac"><%= image_tag "bastides/darmagnac.jpg", alt: "", class: "img-responsive img-thumbnail" %></a>
		<h3><a href="/labastide-darmagnac">Labastide d'Armagnac</a></h3>
	</div>
	<div class="bastide">
		<a href="/cologne"><%= image_tag "bastides/cologne.jpg", alt: "", class: "img-responsive img-thumbnail" %></a>
		<h3><a href="/cologne">Cologne</a></h3>
	</div>
	<div class="bastide">
		<a href="/domme"><%= image_tag "bastides/domme.jpg", alt: "", class: "img-responsive img-thumbnail" %></a>
		<h3><a href="/domme">Domme</a></h3>
	</div>
	<div class="bastide">
		<a href="/marciac"><%= image_tag "bastides/marciac.jpg" , alt: "", class: "img-responsive img-thumbnail" %></a>
		<h3><a href="/marciac">Marciac</a></h3>
	</div>
</div>