<%= content_for :page_title, 'Selected Bastides - John Reps Bastides Collection' %>

<div class="row">
	<div class="col-sm-9">
		<h2>Selected Bastides</h2>
	</div>
	<%= render '/pages/about_menu' %>
</div>
<div class="row">
	<div class="bastide">
		<a href="/cologne"><%= image_tag "bastides/cologne.jpg", alt: "", class: "img-responsive img-thumbnail" %></a>
		<h3><a href="/cologne">Cologne</a></h3>
	</div>
	<div class="bastide">
		<a href="/cordes"><%= image_tag "bastides/cordes.jpg", alt: "", class: "img-responsive img-thumbnail" %></a>
		<h3><a href="/cordes">Cordes</a></h3>
	</div>
	<div class="bastide">
		<a href="/domme"><%= image_tag "bastides/domme.jpg", alt: "", class: "img-responsive img-thumbnail" %></a>
		<h3><a href="/domme">Domme</a></h3>
	</div>
	<div class="bastide">
		<a href="/labastide-clairence"><%= image_tag "bastides/clairence.jpg" , alt: "", class: "img-responsive img-thumbnail" %></a>
		<h3><a href="/labastide-clairence">Labastide Clairence</a></h3>
	</div>
</div>
<div class="row">
	<div class="bastide">
		<a href="/labastide-darmagnac"><%= image_tag "bastides/darmagnac.jpg", alt: "", class: "img-responsive img-thumbnail" %></a>
		<h3><a href="/labastide-darmagnac">Labastide d'Armagnac</a></h3>
	</div>
	<div class="bastide">
		<a href="/marciac"><%= image_tag "bastides/marciac.jpg" , alt: "", class: "img-responsive img-thumbnail" %></a>
		<h3><a href="/marciac">Marciac</a></h3>
	</div>
	<div class="bastide">
		<a href="/mirepoix"><%= image_tag "bastides/mirepoix.jpg", alt: "", class: "img-responsive img-thumbnail" %></a>
		<h3><a href="/mirepoix">Mirepoix</a></h3>
	</div>
	<div class="bastide">
		<a href="/monflanquin"><%= image_tag "bastides/monflanquin.jpg", alt: "", class: "img-responsive img-thumbnail" %></a>
		<h3><a href="/monflanquin">Monflanquin</a></h3>
	</div>
</div>
<div class="row">
	<div class="bastide">
		<a href="/monpazier"><%= image_tag "bastides/monpazier.jpg", alt: "", class: "img-responsive img-thumbnail" %></a>
		<h3><a href="/monpazier">Monpazier</a></h3>
	</div>
	<div class="bastide">
		<a href="/revel"><%= image_tag "bastides/revel.jpg", alt: "", class: "img-responsive img-thumbnail" %></a>
		<h3><a href="/revel">Revel</a></h3>
	</div>
	<div class="bastide">
		<a href="/saint-felix-lauragais"><%= image_tag "bastides/saintfelix.jpg" , alt: "", class: "img-responsive img-thumbnail" %></a>
		<h3><a href="/saint-felix-lauragais">Saint-Felix Lauragais</a></h3>
	</div>
	<div class="bastide">
		<a href="/sauveterre-de-rouergue"><%= image_tag "bastides/sauveterre-rouergue.jpg", alt: "", class: "img-responsive img-thumbnail" %></a>
		<h3><a href="/sauveterre-de-rouergue">Sauveterre-de-Rouergue</a></h3>
	</div>
</div>
<div class="row">
	<div class="bastide">
		<a href="/villefranche-du-perigord"><%= image_tag "bastides/perigord.jpg" , alt: "", class: "img-responsive img-thumbnail" %></a>
		<h3><a href="/villefranche-du-perigord">Villefranche du Perigord</a></h3>
	</div>
	<div class="bastide">
		<a href="/villeneuve-daveyron"><%= image_tag "bastides/daveyron.jpg", alt: "", class: "img-responsive img-thumbnail" %></a>
		<h3><a href="/villeneuve-daveyron">Villeneuve d'Aveyron</a></h3>
	</div>
	<div class="bastide">
		<a href="/villefranche-de-rouergue"><%= image_tag "bastides/rouergue.jpg", alt: "", class: "img-responsive img-thumbnail" %></a>
		<h3><a href="/villefranche-de-rouergue">Villefranche de Rouergue</a></h3>
	</div>
	<div class="bastide">
		<a href="/villeneuve-sur-lot"><%= image_tag "bastides/villeneuve-sur-lot.jpg", alt: "", class: "img-responsive img-thumbnail" %></a>
		<h3><a href="/villeneuve-sur-lot">Villeneuve Sur Lot</a></h3>
	</div>	
</div>