<div class="row">
	<div class="col-sm-9">
		<h2>Bastides: Then and Later</h2>
	</div>
	<%= render '/pages/about_menu' %>
</div>



<div class="row masonry">
  <div class="item">
    <a href="/assets/then_later/aigues-mortes.jpg" data-lightbox="then-later"><%= image_tag "then_later/aigues-mortes-thumb.jpg", alt: "Monfort", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="/assets/then_later/beaumontdelomagne1.jpg" data-lightbox="then-later"><%= image_tag "then_later/beaumontdelomagne1-thumb.jpg", alt: "Monfort", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="/assets/then_later/beaumontdelomagne2.jpg" data-lightbox="then-later"><%= image_tag "then_later/beaumontdelomagne2-thumb.jpg", alt: "Monfort", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="/assets/then_later/beaumontduperigord1.jpg" data-lightbox="then-later"><%= image_tag "then_later/beaumontduperigord1-thumb.jpg", alt: "Monfort", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="/assets/then_later/beaumontduperigord2.jpg" data-lightbox="then-later"><%= image_tag "then_later/beaumontduperigord2-thumb.jpg", alt: "Monfort", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="/assets/then_later/beaumontduperigord3.jpg" data-lightbox="then-later"><%= image_tag "then_later/beaumontduperigord3-thumb.jpg", alt: "Monfort", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="/assets/then_later/beaumontduperigord4.jpg" data-lightbox="then-later"><%= image_tag "then_later/beaumontduperigord4-thumb.jpg", alt: "Monfort", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="/assets/then_later/beaumontduperigord5.jpg" data-lightbox="then-later"><%= image_tag "then_later/beaumontduperigord5-thumb.jpg", alt: "Monfort", class: "img-responsive" %></a>
  </div>
  <!-- need alpha -->
  <div class="item">
    <a href="/assets/then_later/Monfort.jpg" data-lightbox="then-later"><%= image_tag "then_later/Monfort-thumb.jpg", alt: "Monfort", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="/assets/then_later/Monfort1966-99-09.jpg" data-lightbox="then-later"><%= image_tag "then_later/Monfort1966-99-09-thumb.jpg", alt: "Monfort", class: "img-responsive" %></a>
  </div>
</div>
