<div class="row">
	<div class="col-sm-9">
		<h2>Bastides: Then and Later</h2>
	</div>
	<%= render '/pages/about_menu' %>
</div>

<div class="row then-later-grid">
  <div class="col-sm-4">
      <a href="/assets/then_later/Monfort.jpg" data-lightbox="then-later"><%= image_tag "then_later/Monfort-thumb.jpg", alt: "Monfort", class: "img-responsive" %></a>
      <div class="caption">Monfort</div>
  </div>
  <div class="col-sm-4">
      <a href="/assets/then_later/Monfort1966-99-09.jpg" data-lightbox="then-later"><%= image_tag "then_later/Monfort1966-99-09-thumb.jpg", alt: "Monfort", class: "img-responsive" %></a>
      <div class="caption">Monfort</div>
  </div>
</div>


<div class="then-later" style="margin-top: 5em;">
  <h3 id="perigord2">Beaumont du Perigord</h3>
  <div class="well">
    <div class="row">
      <div class="col-sm-6">
        <a href="/catalog/ss:3851412"><%= image_tag "then_later/Beaumont-du-Perigord-1951.jpg", alt: "Beaumont du Perigord, 1951" %></a>
        <a href="/catalog/ss:3851412" class="caption">1951</a>
      </div>
      <div class="col-sm-6">
        <a href="/catalog/ss:3851414"><%= image_tag "then_later/Beaumont-du-Perigord-1999.jpg", alt: "Beaumont du Perigord, 1999" %></a>
        <a href="/catalog/ss:3851414" class="caption">1999</a>
      </div>
    </div>
  </div>
  <p class="downlink"><a href="#perigord-luzier1"><i class="fa fa-arrow-down"></i>Next</a></p>
</div>