<div class="row">
	<div class="col-sm-9">
		<h2>Bastides: Then and Later</h2>
	</div>
	<%= render '/pages/about_menu' %>
</div>

<div class="then-later">
  <h3>Monflaquin</h3>
  <div class="well">
    <div class="row">
      <div class="col-sm-6">
        <a href="/catalog/ss:3852655"><%= image_tag "http://stor.artstor.org/stor/90886273-d7fc-4e18-a120-400c386adffb_size3" , alt: "" %></a>
        <a href="/catalog/ss:3852655" class="caption">1966</a>
      </div>
      <div class="col-sm-6">
        <a href="/catalog/ss:3852568"><%= image_tag "http://stor.artstor.org/stor/a9200aa7-302c-4688-84ba-9b88b9f1f97f_size3" , alt: "" %></a>
        <a href="/catalog/ss:3852568" class="caption">2009</a>
      </div>
    </div>
  </div>
  <p class="downlink"><a href="#revel"><i class="fa fa-arrow-down"></i>Next</a></p>
  <h3 id="revel">The Market Building at Revel</h3>
  <div class="well">
    <div class="row">
      <div class="col-sm-4">
        <a href="/catalog/ss:3853168"><%= image_tag "http://stor.artstor.org/stor/77bb28ed-4e6a-459d-b49d-a544c2fb22e0_size3" , alt: "" %></a>
        <a href="/catalog/ss:3853168" class="caption">1966</a>
      </div>
      <div class="col-sm-4">
        <a href="/catalog/ss:3853172"><%= image_tag "http://stor.artstor.org/stor/49eb685d-2b32-4d44-b37d-08c0805a61df_size3" , alt: "" %></a>
        <a href="/catalog/ss:3853172" class="caption">2001</a>
      </div>
      <div class="col-sm-4">
        <a href="/catalog/ss:3853179"><%= image_tag "http://stor.artstor.org/stor/ec25294a-7860-4193-b489-19b2ec0f358f_size3" , alt: "" %></a>
        <a href="/catalog/ss:3853179" class="caption">2009</a>
      </div>
    </div>
  </div>
  <p class="downlink"><a href="#halle"><i class="fa fa-arrow-down"></i>Next</a></p>
  <h3 id="halle">Cologne Halle</h3>
  <div class="well">
    <div class="row">
      <div class="col-sm-6">
        <a href="/catalog/ss:3851621"><%= image_tag "http://stor.artstor.org/stor/4c3a12a7-6a2e-4fb2-981e-fcde709d3dc5_size3" , alt: "" %></a>
        <a href="/catalog/ss:3851621" class="caption">1966</a>
      </div>
      <div class="col-sm-6">
        <a href="/catalog/ss:3851618"><%= image_tag "http://stor.artstor.org/stor/39655436-b3f8-411d-af42-0c01c1aeb319_size3" , alt: "" %></a>
        <a href="/catalog/ss:3851618" class="caption">1999</a>
      </div>
    </div>
  </div>
  <p class="downlink"><a href="#monpazier"><i class="fa fa-arrow-down"></i>Next</a></p>
  <h3 id="monpazier">Monpazier: South Entrance to Eastern Arcade</h3>
  <div class="well">
    <div class="row">
      <div class="col-sm-3">
        <a href="/catalog/ss:3852743"><%= image_tag "http://stor.artstor.org/stor/24e72df6-9d55-4bf3-b272-e3fd111c7037_size3" , alt: "" %></a>
        <a href="/catalog/ss:3852743" class="caption">1951</a>
      </div>
      <div class="col-sm-3">
        <a href="/catalog/ss:3852940"><%= image_tag "http://stor.artstor.org/stor/ffc0c6e7-3b45-47f1-a015-334214b4ce43_size3" , alt: "" %></a>
        <a href="/catalog/ss:3852940" class="caption">1966</a>
      </div>
      <div class="col-sm-3">
        <a href="/catalog/ss:3852735"><%= image_tag "http://stor.artstor.org/stor/18df954a-b5d9-4121-a308-e01cffc71bc9_size3" , alt: "" %></a>
        <a href="/catalog/ss:3852735" class="caption">1999</a>
      </div>
      <div class="col-sm-3">
        <a href="/catalog/ss:3852817"><%= image_tag "http://stor.artstor.org/stor/6f842315-c024-4836-ae37-4a2b976bd4e8_size3" , alt: "" %></a>
        <a href="/catalog/ss:3852817" class="caption">2009</a>
      </div>
    </div>
  </div>
  <p class="downlink"><a href="#beaumont"><i class="fa fa-arrow-down"></i>Next</a></p>
  <h3 id="beaumont">Beaumont-du-Périgord: Market Square</h3>
  <div class="well">
    <div class="row">
      <div class="col-sm-12">
        <a href="/catalog/ss:3851412"><%= image_tag "http://stor.artstor.org/stor/09ced349-48d0-44af-ac92-9efb7ace5fc3_size3" , alt: "" %></a>
        <a href="/catalog/ss:3851412" class="caption">1951</a>
      </div>
    </div>
  </div>
  <p class="downlink"><a href="#beaumont2"><i class="fa fa-arrow-down"></i>Next</a></p>
  <h3 id="beaumont2">Beaumont-du-Périgord: Market Square</h3>
  <div class="well">
    <div class="row">
      <div class="col-sm-6">
        <a href="/catalog/ss:3851410"><%= image_tag "http://stor.artstor.org/stor/32aec992-4d7a-4e04-a306-2620f99550e0_size3" , alt: "" %></a>
        <a href="/catalog/ss:3851410" class="caption">1966</a>
      </div>
      <div class="col-sm-6">
        <a href="/catalog/ss:3851414"><%= image_tag "http://stor.artstor.org/stor/715a7816-b3c7-407c-943d-49c730af78f4_size3" , alt: "" %></a>
        <a href="/catalog/ss:3851414" class="caption">1999</a>
      </div>
    </div>
  </div>
  <p class="downlink"><a href="#beaumont3"><i class="fa fa-arrow-down"></i>Next</a></p>
  <h3 id="beaumont3">Beaumont-du-Périgord: Market Square</h3>
  <div class="well then-later">
    <div class="row">
      <div class="col-sm-6">
        <a href="/catalog/ss:3851416"><%= image_tag "http://stor.artstor.org/stor/1f4e3cb6-5003-4c09-bb6d-994b87062663_size3" , alt: "" %></a>
        <a href="/catalog/ss:3851416" class="caption">2001</a>
      </div>
      <div class="col-sm-6">
        <a href="/catalog/ss:3851374"><%= image_tag "http://stor.artstor.org/stor/06216d52-55a2-44f1-89bf-9deac4b53249_size3" , alt: "" %></a>
        <a href="/catalog/ss:3851374" class="caption">2009</a>
      </div>
    </div>
  </div>
  <p class="toplink"><a href="#top">Top</a></p>
</div>