<%= content_for :page_title, 'Then and Later - John Reps Bastides Collection' %>
<div class="row">
	<div class="col-sm-9">
		<h2>Bastides: Then and Later</h2>
	</div>
	<%= render '/pages/about_menu' %>
</div>

<div class="row masonry">
  <div class="item">
    <a href="<%= image_path('then_later/aigues-mortes.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/aigues-mortes-thumb.jpg", alt: "Aigues-Mortes", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/beaumontdelomagne1.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/beaumontdelomagne1-thumb.jpg", alt: "Beaumont de Lomagne", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/beaumontdelomagne2.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/beaumontdelomagne2-thumb.jpg", alt: "Beaumont de Lomagne", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/beaumontduperigord1.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/beaumontduperigord1-thumb.jpg", alt: "Beaumont du Perigord", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/beaumontduperigord2.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/beaumontduperigord2-thumb.jpg", alt: "Beaumont du Perigord", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/beaumontduperigord3.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/beaumontduperigord3-thumb.jpg", alt: "Beaumont du Perigord", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/beaumontduperigord4.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/beaumontduperigord4-thumb.jpg", alt: "Beaumont du Perigord", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/beaumontduperigord5.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/beaumontduperigord5-thumb.jpg", alt: "Beaumont du Perigord", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/beauville1.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/beauville1-thumb.jpg", alt: "Beauville", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/beauville2.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/beauville2-thumb.jpg", alt: "Beauville", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/cadillac1.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/cadillac1-thumb.jpg", alt: "Cadillac", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/cadillac2.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/cadillac2-thumb.jpg", alt: "Cadillac", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/castillones1.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/castillones1-thumb.jpg", alt: "Castillones", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/castillones2.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/castillones2-thumb.jpg", alt: "Castillones", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/castillones3.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/castillones3-thumb.jpg", alt: "Castillones", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/castillones4.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/castillones4-thumb.jpg", alt: "Castillones", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/cologne1.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/cologne1-thumb.jpg", alt: "Cologne", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/cologne2.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/cologne2-thumb.jpg", alt: "Cologne", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/cologne3.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/cologne3-thumb.jpg", alt: "Cologne", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/cologne4.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/cologne4-thumb.jpg", alt: "Cologne", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/cordes1.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/cordes1-thumb.jpg", alt: "Cordes", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/cordes2.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/cordes2-thumb.jpg", alt: "Cordes", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/cordes3.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/cordes3-thumb.jpg", alt: "Cordes", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/cordes4.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/cordes4-thumb.jpg", alt: "Cordes", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/cordes5.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/cordes5-thumb.jpg", alt: "Cordes", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/creon.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/creon-thumb.jpg", alt: "Creon", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/creon2.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/creon2-thumb.jpg", alt: "Creon", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/duras1.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/duras1-thumb.jpg", alt: "Duras", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/duras2.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/duras2-thumb.jpg", alt: "Duras", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/eymet.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/eymet-thumb.jpg", alt: "Eymet", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/fleurance.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/fleurance-thumb.jpg", alt: "Fleurance", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/gimont.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/gimont-thumb.jpg", alt: "Gimont", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/labastidedarmagnac.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/labastidedarmagnac-thumb.jpg", alt: "La Bastide d'Armagnac", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/lauzerte.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/lauzerte-thumb.jpg", alt: "Lauzerte", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/libourne.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/libourne-thumb.jpg", alt: "Libourne", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/marciac.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/marciac-thumb.jpg", alt: "Marciac", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/mauvezin.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/mauvezin-thumb.jpg", alt: "Mauvezin", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/mirande1.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/mirande1-thumb.jpg", alt: "Mirande", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/mirande2.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/mirande2-thumb.jpg", alt: "Mirande", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/molieres1.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/molieres1-thumb.jpg", alt: "Molieres", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/molieres2.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/molieres2-thumb.jpg", alt: "Molieres", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/molieres3.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/molieres3-thumb.jpg", alt: "Molieres", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/molieres4.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/molieres4-thumb.jpg", alt: "Molieres", class: "img-responsive" %></a>
  </div>





  <div class="item">
    <a href="<%= image_path('then_later/monflanquin1.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/monflanquin1-thumb.jpg", alt: "Monflanquin", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/monflanquin2.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/monflanquin2-thumb.jpg", alt: "Monflanquin", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/monflanquin3.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/monflanquin3-thumb.jpg", alt: "Monflanquin", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/monflanquin4.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/monflanquin4-thumb.jpg", alt: "Monflanquin", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/monflanquin5.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/monflanquin5-thumb.jpg", alt: "Monflanquin", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/monflanquin6.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/monflanquin6-thumb.jpg", alt: "Monflanquin", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/monfort1.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/monfort1-thumb.jpg", alt: "Monfort", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/monfort2.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/monfort2-thumb.jpg", alt: "Monfort", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/monpazier1.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/monpazier1-thumb.jpg", alt: "Monpazier", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/monpazier2.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/monpazier2-thumb.jpg", alt: "Monpazier", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/monpazier3.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/monpazier3-thumb.jpg", alt: "Monpazier", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/monpazier4.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/monpazier4-thumb.jpg", alt: "Monpazier", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/monpazier5.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/monpazier5-thumb.jpg", alt: "Monpazier", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/monpazier6.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/monpazier6-thumb.jpg", alt: "Monpazier", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/monpazier7.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/monpazier7-thumb.jpg", alt: "Monpazier", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/monpazier8.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/monpazier8-thumb.jpg", alt: "Monpazier", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/monpazier9.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/monpazier9-thumb.jpg", alt: "Monpazier", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/monsegur1.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/monsegur1-thumb.jpg", alt: "Monsegur", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/montauban.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/montauban-thumb.jpg", alt: "Montauban", class: "img-responsive" %></a>
  </div>
  <div class="item">
    <a href="<%= image_path('then_later/montauban2.jpg') %>" data-lightbox="then-later"><%= image_tag "then_later/montauban2-thumb.jpg", alt: "Montauban", class: "img-responsive" %></a>
  </div>
</div>
