<div class="row">
	<div class="col-sm-9">
		<h2>Bastides: Then and Later</h2>
	</div>
	<%= render '/pages/about_menu' %>
</div>

<div class="then-later">
  <h3>Aigues-Mortes</h3>
  <div class="well">
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag "then_later/aigues-mortes1890.jpg", alt: "Aigues-Mortes, 1890" %>
        <div class="caption">1890</div>
      </div>
      <div class="col-sm-6">
        <%= image_tag "then_later/aigues-mortes1971.jpg", alt: "Aigues-Mortes, 1971" %>
        <div class="caption">1971</div>
      </div>
    </div>
  </div>
  <p class="downlink"><a href="#lomagne1"><i class="fa fa-arrow-down"></i>Next</a></p>

  <h3 id="lomagne1">Beaumont de Lomagne</h3>
  <div class="well">
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag "then_later/Beaumont-de-Lomagne.jpg", alt: "Beaumont de Lomagne, 1966" %>
        <div class="caption">1966</div>
      </div>
      <div class="col-sm-6">
        <%= image_tag "then_later/Beaumont-de-Lomagne2009.jpg", alt: "Beaumont de Lomagne, 2009" %>
        <div class="caption">2009</div>
      </div>
    </div>
  </div>
  <p class="downlink"><a href="#lomagne2"><i class="fa fa-arrow-down"></i>Next</a></p>

  <h3 id="lomagne2">Beaumont de Lomagne: Shops on Side of Market Square</h3>
  <div class="well">
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag "then_later/Beaumont-de-LomagneShops1966.jpg", alt: "Beaumont de Lomagne: Shops on Side of Market Square, 1966" %>
        <div class="caption">1966</div>
      </div>
      <div class="col-sm-6">
        <a href="/catalog/ss:3851352"><%= image_tag "http://stor.artstor.org/stor/06a4d0b1-bb27-429a-a052-158a31383966_size3" , alt: "Beaumont de Lomagne: Shops on Side of Market Square, 2009" %></a>
        <a href="/catalog/ss:3851352" class="caption">2009</a>
      </div>
    </div>
  </div>
  <p class="downlink"><a href="#perigord"><i class="fa fa-arrow-down"></i>Next</a></p>

  <h3 id="perigord">Beaumont du Perigord</h3>
  <div class="well">
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag "then_later/Beaumont-du-Perigord-1922.jpg", alt: "Beaumont du Perigord, 1922" %>
        <div class="caption">1922</div>
      </div>
      <div class="col-sm-6">
        <a href="/catalog/ss:3851403"><%= image_tag "then_later/Beaumont-du-Perigord-2009.jpg", alt: "Beaumont du Perigord, 2009" %></a>
        <a href="/catalog/ss:3851403" class="caption">2009</a>
      </div>
    </div>
  </div>
  <p class="downlink"><a href="#perigord2"><i class="fa fa-arrow-down"></i>Next</a></p>

  <h3 id="perigord2">Beaumont du Perigord</h3>
  <div class="well">
    <div class="row">
      <div class="col-sm-6">
        <a href="/catalog/ss:3851412"><%= image_tag "then_later/Beaumont-du-Perigord-1951.jpg", alt: "Beaumont du Perigord, 1951" %></a>
        <a href="/catalog/ss:3851412" class="caption">1951</a>
      </div>
      <div class="col-sm-6">
        <a href="/catalog/ss:3851414"><%= image_tag "then_later/Beaumont-du-Perigord-1999.jpg", alt: "Beaumont du Perigord, 1999" %></a>
        <a href="/catalog/ss:3851414" class="caption">1999</a>
      </div>
    </div>
  </div>
  <p class="downlink"><a href="#perigord-luzier1"><i class="fa fa-arrow-down"></i>Next</a></p>

  <h3 id="perigord-luzier1">Beaumont du Perigord: Luzier Gate Entrance</h3>
  <div class="well">
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag "then_later/Beaumont-du-Perigord-Luzier-Gate.jpg", alt: "Beaumont du Perigord: Luzier Gate Entrance, 1322" %>
        <div class="caption">1322</div>
      </div>
      <div class="col-sm-6">
        <%= image_tag "then_later/Beaumont-du-Perigord-Luzier-Gate-2009.jpg", alt: "Beaumont du Perigord: Luzier Gate Entrance, 2009" %>
        <div class="caption">2009</div>
      </div>
    </div>
  </div>
  <p class="downlink"><a href="#perigord-luzier2"><i class="fa fa-arrow-down"></i>Next</a></p>

  <h3 id="perigord-luzier2">Beaumont du Perigord: Luzier Gate Exit to Gardens and Farms</h3>
  <div class="well">
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag "then_later/Beaumont-du-Perigord-Luzier-Gate-Exit.jpg", alt: "Beaumont du Perigord: Luzier Gate Exit, 1322" %>
        <div class="caption">1322</div>
      </div>
      <div class="col-sm-6">
        <%= image_tag "then_later/Beaumont-du-Perigord-Luzier-Gate-Exit2009.jpg", alt: "Beaumont du Perigord: Luzier Gate Exit, 2009" %>
        <div class="caption">2009</div>
      </div>
    </div>
  </div>
  <p class="downlink"><a href="#perigord-market1"><i class="fa fa-arrow-down"></i>Next</a></p>

  <h3 id="perigord-market1">Beaumont du Perigord: Market Square</h3>
  <div class="well">
    <div class="row">
      <div class="col-sm-12">
        <a href="/catalog/ss:3851412"><%= image_tag "http://stor.artstor.org/stor/09ced349-48d0-44af-ac92-9efb7ace5fc3_size3" , alt: "" %></a>
        <a href="/catalog/ss:3851412" class="caption">1951</a>
      </div>
    </div>
  </div>
  <p class="downlink"><a href="#perigord-market2"><i class="fa fa-arrow-down"></i>Next</a></p>

  <h3 id="perigord-market2">Beaumont du Perigord: Market Square</h3>
  <div class="well">
    <div class="row">
      <div class="col-sm-6">
        <a href="/catalog/ss:3851410"><%= image_tag "http://stor.artstor.org/stor/32aec992-4d7a-4e04-a306-2620f99550e0_size3" , alt: "" %></a>
        <a href="/catalog/ss:3851410" class="caption">1966</a>
      </div>
      <div class="col-sm-6">
        <a href="/catalog/ss:3851414"><%= image_tag "http://stor.artstor.org/stor/715a7816-b3c7-407c-943d-49c730af78f4_size3" , alt: "" %></a>
        <a href="/catalog/ss:3851414" class="caption">1999</a>
      </div>
    </div>
  </div>
  <p class="downlink"><a href="#perigord-market3"><i class="fa fa-arrow-down"></i>Next</a></p>

  <h3 id="perigord-market3">Beaumont du Perigord: Market Square</h3>
  <div class="well then-later">
    <div class="row">
      <div class="col-sm-6">
        <a href="/catalog/ss:3851416"><%= image_tag "http://stor.artstor.org/stor/1f4e3cb6-5003-4c09-bb6d-994b87062663_size3" , alt: "" %></a>
        <a href="/catalog/ss:3851416" class="caption">2001</a>
      </div>
      <div class="col-sm-6">
        <a href="/catalog/ss:3851374"><%= image_tag "http://stor.artstor.org/stor/06216d52-55a2-44f1-89bf-9deac4b53249_size3" , alt: "" %></a>
        <a href="/catalog/ss:3851374" class="caption">2009</a>
      </div>
    </div>
  </div>
  <p class="downlink"><a href="#perigord-market4"><i class="fa fa-arrow-down"></i>Next</a></p>

  <h3 id="perigord-market4">Beaumont du Perigord: South Side of Market Square</h3>
  <div class="well">
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag "then_later/Beaumont-du-Perigord-18th.jpg", alt: "Beaumont du Perigord: South Side of Market Square, 18th Century" %>
        <div class="caption">18th Century</div>
      </div>
      <div class="col-sm-6">
        <%= image_tag "then_later/Beaumont-du-Perigord-21st.jpg", alt: "Beaumont du Perigord: South Side of Market Square, Early 21st Century" %>
        <div class="caption">Early 21st Century</div>
      </div>
    </div>
  </div>
  <p class="downlink"><a href="#beauville1"><i class="fa fa-arrow-down"></i>Next</a></p>

  <h3 id="beauville1">Beauville</h3>
  <div class="well then-later">
    <div class="row">
      <div class="col-sm-6">
        <a href="/catalog/ss:3851431"><%= image_tag "then_later/Beauville1966.jpg" , alt: "Beauville, 1966" %></a>
        <a href="/catalog/ss:3851431" class="caption">1966</a>
      </div>
      <div class="col-sm-6">
        <a href="/catalog/ss:3851440"><%= image_tag "then_later/Beauville2009.jpg" , alt: "Beauville, 2009" %></a>
        <a href="/catalog/ss:3851440" class="caption">2009</a>
      </div>
    </div>
  </div>
  <p class="downlink"><a href="#beauville2"><i class="fa fa-arrow-down"></i>Next</a></p>

  <h3 id="beauville2">Beauville</h3>
  <div class="well then-later">
    <div class="row">
      <div class="col-sm-6">
        <a href="/catalog/ss:3851437"><%= image_tag "then_later/Beauville1966-2.jpg" , alt: "Beauville, 1966" %></a>
        <a href="/catalog/ss:3851437" class="caption">1966</a>
      </div>
      <div class="col-sm-6">
        <a href="/catalog/ss:3851441"><%= image_tag "then_later/Beauville2009-2.jpg" , alt: "Beauville, 2009" %></a>
        <a href="/catalog/ss:3851441" class="caption">2009</a>
      </div>
    </div>
  </div>
  <p class="downlink"><a href="#cadillac1"><i class="fa fa-arrow-down"></i>Next</a></p>

  <h3 id="cadillac1">Cadillac</h3>
  <div class="well then-later">
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag "then_later/Cadillac1842.jpg" , alt: "Cadillac, 1842" %>
        <div class="caption">1842</div>
      </div>
      <div class="col-sm-6">
        <%= image_tag "then_later/Cadillac1966.jpg" , alt: "Cadillac, 1955" %>
        <div class="caption">1966</div>
      </div>
    </div>
  </div>
  <p class="downlink"><a href="#cadillac2"><i class="fa fa-arrow-down"></i>Next</a></p>

  <h3 id="cadillac2">Cadillac</h3>
  <div class="well then-later">
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag "then_later/Cadillac1966-2.jpg" , alt: "Cadillac, 1966" %>
        <div class="caption">1966</div>
      </div>
      <div class="col-sm-6">
        <%= image_tag "then_later/Cadillac2009.jpg" , alt: "Cadillac, 2009" %>
        <div class="caption">2009</div>
      </div>
    </div>
  </div>
  <p class="downlink"><a href="#cadillac2"><i class="fa fa-arrow-down"></i>Next</a></p>

  <h3 id="halle">Cologne Halle</h3>
  <div class="well">
    <div class="row">
      <div class="col-sm-6">
        <a href="/catalog/ss:3851621"><%= image_tag "http://stor.artstor.org/stor/4c3a12a7-6a2e-4fb2-981e-fcde709d3dc5_size3" , alt: "" %></a>
        <a href="/catalog/ss:3851621" class="caption">1966</a>
      </div>
      <div class="col-sm-6">
        <a href="/catalog/ss:3851618"><%= image_tag "http://stor.artstor.org/stor/39655436-b3f8-411d-af42-0c01c1aeb319_size3" , alt: "" %></a>
        <a href="/catalog/ss:3851618" class="caption">1999</a>
      </div>
    </div>
  </div>
  <p class="downlink"><a href="#revel"><i class="fa fa-arrow-down"></i>Next</a></p>

  <h3>Monflanquin</h3>
  <div class="well">
    <div class="row">
      <div class="col-sm-6">
        <a href="/catalog/ss:3852655"><%= image_tag "http://stor.artstor.org/stor/90886273-d7fc-4e18-a120-400c386adffb_size3" , alt: "" %></a>
        <a href="/catalog/ss:3852655" class="caption">1966</a>
      </div>
      <div class="col-sm-6">
        <a href="/catalog/ss:3852568"><%= image_tag "http://stor.artstor.org/stor/a9200aa7-302c-4688-84ba-9b88b9f1f97f_size3" , alt: "" %></a>
        <a href="/catalog/ss:3852568" class="caption">2009</a>
      </div>
    </div>
  </div>
  <p class="downlink"><a href="#revel"><i class="fa fa-arrow-down"></i>Next</a></p>
  
  <h3 id="monpazier">Monpazier: South Entrance to Eastern Arcade</h3>
  <div class="well">
    <div class="row">
      <div class="col-sm-3">
        <a href="/catalog/ss:3852743"><%= image_tag "http://stor.artstor.org/stor/24e72df6-9d55-4bf3-b272-e3fd111c7037_size3" , alt: "" %></a>
        <a href="/catalog/ss:3852743" class="caption">1951</a>
      </div>
      <div class="col-sm-3">
        <a href="/catalog/ss:3852940"><%= image_tag "http://stor.artstor.org/stor/ffc0c6e7-3b45-47f1-a015-334214b4ce43_size3" , alt: "" %></a>
        <a href="/catalog/ss:3852940" class="caption">1966</a>
      </div>
      <div class="col-sm-3">
        <a href="/catalog/ss:3852735"><%= image_tag "http://stor.artstor.org/stor/18df954a-b5d9-4121-a308-e01cffc71bc9_size3" , alt: "" %></a>
        <a href="/catalog/ss:3852735" class="caption">1999</a>
      </div>
      <div class="col-sm-3">
        <a href="/catalog/ss:3852817"><%= image_tag "http://stor.artstor.org/stor/6f842315-c024-4836-ae37-4a2b976bd4e8_size3" , alt: "" %></a>
        <a href="/catalog/ss:3852817" class="caption">2009</a>
      </div>
    </div>
  </div>
  <p class="downlink"><a href="#beaumont"><i class="fa fa-arrow-down"></i>Next</a></p>
  
  <h3 id="revel">Revel: The Market Building</h3>
  <div class="well">
    <div class="row">
      <div class="col-sm-4">
        <a href="/catalog/ss:3853168"><%= image_tag "http://stor.artstor.org/stor/77bb28ed-4e6a-459d-b49d-a544c2fb22e0_size3" , alt: "" %></a>
        <a href="/catalog/ss:3853168" class="caption">1966</a>
      </div>
      <div class="col-sm-4">
        <a href="/catalog/ss:3853172"><%= image_tag "http://stor.artstor.org/stor/49eb685d-2b32-4d44-b37d-08c0805a61df_size3" , alt: "" %></a>
        <a href="/catalog/ss:3853172" class="caption">2001</a>
      </div>
      <div class="col-sm-4">
        <a href="/catalog/ss:3853179"><%= image_tag "http://stor.artstor.org/stor/ec25294a-7860-4193-b489-19b2ec0f358f_size3" , alt: "" %></a>
        <a href="/catalog/ss:3853179" class="caption">2009</a>
      </div>
    </div>
  </div>
  <p class="downlink"><a href="#monpazier"><i class="fa fa-arrow-down"></i>Next</a></p>
  <p class="toplink"><a href="#top">Top</a></p>
</div>